input{
  display: block;
}
input[type="text"]{
  width: 100%;
  margin: 5px;
}
div.question{
  margin: 5px;
  padding: 10px;
  padding-left: 0px;
  border: 2px solid rgba(0,0,155,0.5);
}
div.tile-option{
  border: 1px solid green;
  margin: 1px;
  display: inline-block;
  padding: 5px;
}
.selected{
  background-color: rgba(0,255,0,0.5);
}
.tile-container{
  display: flex;
  flex-wrap: wrap;
}